<!-- A fridge for the homepage. -->
<svg
        version="1.1"
        baseProfile="full"
        width="20" height="600"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
>
    <symbol id="fridgehandle">
        <rect height="16rem" width="1rem" rx="0.5rem" ry="0.5rem" class="is-color-cutcash-dark"></rect>
    </symbol>

    <rect width="91.5%" height="55.25rem" rx="1rem" ry="1rem" class="is-color-cutcash-black-deep"></rect>
    <rect width="90%" height="55rem" rx="1rem" ry="1rem" class="is-color-cutcash-black"></rect>

    <!-- Handles -->
    <use xlink:href="#fridgehandle" x="37%" y="19.5rem"></use>
    <use xlink:href="#fridgehandle" x="45%" y="19.5rem"></use>

    <!-- Divider line -->
    <rect width="0.25rem" height="55rem" x="42%" y="0" class="is-color-cutcash-black-deep"></rect>

    <!-- Water thing -->
    <rect width="28%" height="12rem" x="2rem" y="21.5rem" class="is-color-cutcash-black-deep"></rect>

    <!-- Receipts -->
    <rect width="6.5%" height="10rem" x="60.5%" y="17.25rem" class="is-color-cutcash-dark is-stroke-cutcash-black-deep"></rect>
    <rect width="6.5%" height="10rem" x="60%" y="17rem" class="is-color-cutcash-light is-stroke-cutcash-black"></rect>
    <rect width="6.5%" height="10rem" x="59.5%" y="16.75rem" class="is-color-cutcash-white is-stroke-cutcash-dark"></rect>

    <circle r="1rem" x="59%" y="17rem" class="is-color-cutcash-secondary"></circle>

</svg>