<section class="hero is-black has-text-centered">
    <div class="hero-body">
        <div class="container">
            <img src="{{ url_for('static', filename='img/logo/logo512.png') }}" alt="CutCash"/>
            <h1 class="title">
                Easy receipt splitting
            </h1>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-hidden-touch">
                {% include "splash/splash-body-fridge.html" %}
            </div>

            <div class="column">
                <div class="columns">
                    <div class="column">
                        <a href="{{ url_for('app') }}" class="button is-primary is-large is-block">
                            Open CutCash
                        </a>
                    </div>
                </div>
                <div class="box">
                    <h2 class="title">Split receipts between friends</h2>
                    <p class="content">
                        CutCash makes it easy to divide your expenses between groups of people &mdash; from a pile of
                        receipts tacked on the fridge, or a single check from a restaurant.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>