@import "../cutcash-variables";
@import "../svg";

.hero.is-black .title {
  color: $cutcash-light;
  font-family: $cutcash-block-font;
  font-weight: 400;
}

section.section {
  background-color: $cutcash-dark;
}

.button.is-large.is-block {
  font-weight: bold;
}