<!DOCTYPE html>

<!--
    This is the root template for all views in CutCash. It loads our global stylesheet and fonts, contains sections for
    style overrides, scripts, and content.
-->

<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="description"
          content="CutCash - Easily split expenses and receipts between groups of people.">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Framework and application style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bin/bulma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bin/cutcash.css') }}">
    <!-- / -->

    <!-- Icon font and Google fonts -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Yantramanav:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <!-- / -->

    <!-- Template styles -->
    {% block styles %}{% endblock %}
    <!-- / -->

    <!-- JS frameworks and custom JS to run on every page -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bin/base.bundled.js') }}"></script>
    <!-- / -->

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<!-- Template header -->
{% block header %}{% endblock %}
<!-- / -->

<!-- Template body -->
{% block body %}{% endblock %}
<!-- / -->

<!-- Template footer -->
{% block footer %}{% endblock %}
<!-- / -->

<!-- Template scripts -->
{% block scripts %}{% endblock %}
<!-- / -->

</body>
</html>