/***********************************************************************************************************************
 * Styles specific to CutCash.
 **********************************************************************************************************************/

@import "fx/effects";
@import "components/lib/_LibraryComponents.scss";

@import "components/parties/parties";

@import "cutcash-variables";

body, section.section {
  background-color: $cutcash-light;
}


/* Helper for the hover effect of the main navbar logo. */
.navbar-brand .navbar-item.cwxs-navbar-logo:hover {
  img:first-of-type {
    display: none;
  }
}
.navbar-brand .navbar-item.cwxs-navbar-logo:not(:hover) {
  img:not(:first-of-type) {
    display: none;
  }
}