/* Some common things we may want to re-use across different SVGs. */

svg {
  width: 100%;
  min-height: 56rem;

  /* #region Standard CutCash full colors */

  .is-color-cutcash-white {
    stroke: $cutcash-white;
    fill: $cutcash-white;
  }

  .is-color-cutcash-light {
    stroke: $cutcash-light;
    fill: $cutcash-light;
  }

  .is-color-cutcash-dark {
    stroke: $cutcash-dark;
    fill: $cutcash-dark;
  }

  .is-color-cutcash-black {
    stroke: $cutcash-black;
    fill: $cutcash-black;
  }

  .is-color-cutcash-black-deep {
    stroke: $cutcash-black-deep;
    fill: $cutcash-black-deep;
  }

  /* #endregion */

  /* #region Standard CutCash stroke colors */

  .is-stroke-cutcash-dark {
    stroke: $cutcash-dark;
  }

  .is-stroke-cutcash-black {
    stroke: $cutcash-black;
  }

  .is-stroke-cutcash-black-deep {
    stroke: $cutcash-black-deep;
  }

  /* #endregion */

  /* #region Highlight full colors */

  .is-color-cutcash-secondary {
    stroke: $cutcash-secondary;
    fill: $cutcash-secondary;
  }

  /* #endregion */

}